@page
@model NewApp.Web.Pages.Generals.CreateModel
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using NewApp.Localization
@inject IStringLocalizer<NewAppResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["GeneralSetting"].Value;
}
<abp-card>
    <abp-card-body>
        <abp-tabs>



            <abp-tab title="@L["PageSetting"]">
                <form id="generalSettingForm">
                    <abp-input asp-for="GeneralSetting.PageTitle"
                               label="@L["PageTitle"]"
                               required="true" />

                    <abp-input asp-for="GeneralSetting.Slug"
                               label="@L["Slug"]"
                               required="true" />

                    <abp-input asp-for="GeneralSetting.Content"
                               label="@L["Content"]"
                               type="textarea"
                               required="true" />

                    <abp-input asp-for="GeneralSetting.PublishDate"
                               label="@L["PublishDate"]"
                               type="datetime-local"
                               required="true" />

                    <abp-input asp-for="GeneralSetting.HideFromMenue"
                               label="@L["HideFromMenue"]"
                               type="checkbox" />

                    <div class="mt-3">
                        <abp-button type="submit" button-type="Primary">
                            @L["Save"]
                        </abp-button>
                    </div>
                </form>
            </abp-tab>





            <abp-tab title="@L["SEOSetting"]">
                <form id="seoSettingForm">
                    <abp-input asp-for="SeoSetting.MetaTitle"
                               label="@L["MetaTitle"]"
                               required="true" />

                    <abp-input asp-for="SeoSetting.MetaDescription"
                               label="@L["MetaDescription"]"
                               type="textarea"
                               required="true" />

                    <abp-input asp-for="SeoSetting.MetaKeyWords"
                               label="@L["MetaKeywords"]" />

                    <abp-input asp-for="SeoSetting.MetaIndex"
                               label="@L["MetaIndex"]"
                               type="checkbox" />

                    <abp-input asp-for="SeoSetting.MetaFollow"
                               label="@L["MetaFollow"]"
                               type="checkbox" />

                    <abp-input asp-for="SeoSetting.MetaPriority"
                               label="@L["MetaPriority"]"
                               type="number" />

                    <div class="mt-3">
                        <abp-button type="submit" button-type="Primary">
                            @L["Save"]
                        </abp-button>
                    </div>
                </form>
            </abp-tab>
        </abp-tabs>
    </abp-card-body>
</abp-card>

@section Scripts {
    <script src="/Pages/Generals/Create.js" asp-append-version="true"></script>
    <script src="/Pages/Generals/CreateSeo.js" asp-append-version="true"></script>
}
